.App {
    padding: 50px;

}
.AppForm {
    z-index: 300;
    margin: 0 auto;
    position: relative;
    width: 700px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
